/* VARIABLES */
:root {
	/* COLORS */
	--header-bg: hsla(358, 75%, 58%, 1);
	--bg-orange: hsla(358, 85%, 63%, 1);
	--bg-light: hsla(356, 81%, 96%, 0.5);

	--border-orange: hsla(358, 85%, 63%, 0.3);

	--text-dark: hsla(209, 77%, 23%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--white: hsla(0, 0%, 100%, 1);

	/* FONTS */
	--ff-primary: "Nunito", sans-serif;

	/* FONT SIZES */
	--fs-900: 2.75rem;
	--fs-800: 1.875rem;
	--fs-300: 1.125rem;
	--fs-100: 0.875rem;
}

/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body,
input,
button {
	font-size: var(--fs-100);
	font-family: var(--ff-primary);
}

body {
	overflow-x: hidden;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 800;

	transition: filter 0.3s ease-in-out;
}

button:hover {
	filter: brightness(0.9);
}

ul {
	list-style: none;
}

.bold {
	font-weight: 700;
}

.container {
	padding-inline: 1.25rem;
}

/* Header Styling */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--header-bg);
	padding-block: 1.25rem;
	position: relative;
}

header .nav-menu {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	background-color: var(--header-bg);
	border-radius: 0px 0px 1.25rem 1.25rem;
	color: var(--white);
	font-size: var(--fs-300);
	padding: 1.6875rem 1.25rem;
	width: 100%;

	transition: transform 0.3s ease-in-out;
	transform: translateY(-100%);
}

header .nav-menu::before {
	content: "";
	position: absolute;
	top: 0;

	background-color: var(--white);
	opacity: 0.2;
	height: 1px;
	width: 90%;
}

header .nav-menu.active {
	transform: translateY(35%);
	opacity: 1;
}

header .nav-menu__link {
	opacity: 0.5;
}

header .nav-menu__link.active {
	opacity: 1;
}

header .nav-menu__open,
header .nav-menu__close {
	display: none;

	border-radius: 0.5rem;
	background-color: var(--white);
	padding: 0.75rem;
}

header .nav-menu__open.active,
header .nav-menu__close.active {
	display: flex;
	align-items: center;
}

/* Hero styling */
.hero {
	display: flex;
	flex-direction: column;

	background-color: var(--bg-orange);
	padding-top: 3.25rem;
	padding-bottom: 3rem;
	color: var(--white);
}

.friends-around {
	display: flex;
	flex-direction: column;
}

.friends-around__images img + img {
	margin-left: -1rem;
}

.hero h1 {
	margin-block: 2rem;
	max-width: 17.5rem;
	font-size: var(--fs-900);
}

.hero__image {
	align-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cta-button {
	background: var(--white);
	border-radius: 0.5rem;
	padding: 1.125rem 4.5625rem;
	margin-top: -4.5rem;
}
